<div  style= "padding-left: 2500px;" class="card-container">
    <div class="flip-card">
    <a href ="/write">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="elements/images.jpeg">
        </div>
        <div class="flip-card-back">
          <p class="blog-txt">WRITE BLOGS AND 
            PUBLISH THEM
          </p>
        </div>
      </div>
    </div>
</a>
  <a href ="/read">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="elements/images (1).jpeg">
        </div>
        <div class="flip-card-back">
          <p class="blog-txt">CHECK BLOGS WRITTEN
            ON THE INTERNET
          </p>
        </div>
      </div>
    </div>
  </a>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p>Front 3</p>
        </div>
        <div class="flip-card-back">
          <p>BLAHHH</p>
        </div>
      </div>
    </div>
  </div>
  