<!-- Step 3 Add Header -->
<%- include("partials/header.ejs") %>

<link rel = "stylesheet" href="styles/main.css">
<link rel = "stylesheet" href="styles/content.css">


<h1>WELCOME TO MY BLOG PAGE</h1>

<p>EXPLORE MY PAGE FOR DIFFERENT GENRE BLOGS</p>
<%- include("cards.ejs") %>

<%- include("partials/footer.ejs") %>