//WE NEED A DATABASE

<%- include("partials/header.ejs") %>

<link rel = "stylesheet" href="styles/main.css">
<link rel = "stylesheet" href="styles/content.css">


<h1>Featured Articles</h1>

<p>TOP ARTICLES TODAY </p>


<%- include("partials/footer.ejs") %>